<div class="start-menu-container">
  <div class="left">
    <div class="taskbar-btn-wrapper">
      <img [src]="icons.taskbar.MS_STORE">
    </div>
    <div class="taskbar-btn-wrapper">
      <img [src]="icons.common.EDGE_BROWSER">
    </div>
  </div>
  <div class="middle">
    <!-- Installed apps list in alphabetical order -->
    <ul class="apps-list">
      <li>App1</li>
      <li>App2</li>
      <li>App3</li>
      <li>App4</li>
      <li>App5</li>
      <li>App6</li>
      <li>App1</li>
      <li>App2</li>
      <li>App3</li>
      <li>App4</li>
      <li>App5</li>
      <li>App6</li>
      <li>App1</li>
      <li>App2</li>
      <li>App3</li>
      <li>App4</li>
      <li>App5</li>
      <li>App6</li>
      <li>App1</li>
      <li>App2</li>
      <li>App3</li>
      <li>App4</li>
      <li>App5</li>
      <li>App6</li>
    </ul>
  </div>
  <div class="right">
    <h4>Productivity</h4>
    <div class="app-tiles">
      <div class="tile">
        <img [src]="icons.common.EDGE_BROWSER">
        <p class="app-name">Edge</p>
      </div>
      <div class="tile">
        <img [src]="icons.common.EDGE_BROWSER">
        <p class="app-name">Edge</p>
      </div>
      <div class="tile">
        <img [src]="icons.common.EDGE_BROWSER">
        <p class="app-name">Edge</p>
      </div>
      <div class="tile">
        <img [src]="icons.common.EDGE_BROWSER">
        <p class="app-name">Edge</p>
      </div>
      <div class="tile">
        <img [src]="icons.common.EDGE_BROWSER">
        <p class="app-name">Edge</p>
      </div>
      <div class="tile">
        <img [src]="icons.common.EDGE_BROWSER">
        <p class="app-name">Edge</p>
      </div>
    </div>
  </div>
</div>
