<!-- For containing wallpaper and folder icons -->
<div class="desktop-container" [ngStyle]="{backgroundImage: 'url('+wallpaper+')'}">
  <!-- Icon space -->
  <!-- <button (click)="onThemeChange('light')">Change Theme to Light</button>
  <button (click)="onThemeChange('dark')">Change Theme to Dark</button>
  <button (click)="onThemeChange('system')">Change Theme to System</button> -->
  <app-desktop-icons [shortcuts]="initialShortcuts"></app-desktop-icons>
  <app-task-bar></app-task-bar>
  <app-context-menu *ngIf="showMenu" [config]="{position:menuPostion, options:menuOptions}"></app-context-menu>
</div>
