<!-- Task Bar -->
<div #taskBar class="task-bar">
  <div class="task-bar-bg"></div>
  <div class="task-bar-contents">
    <!-- Pinned Icons -->
    <div class="pinned-icons flex items-center">
      <!-- Fixed -->
      <img [src]="icons.taskbar.WIN_LOGO">
      <img [src]="icons.taskbar.MS_STORE">
      <img [src]="icons.common.EDGE_BROWSER">
    </div>
    <!-- System Tray -->
    <div class="system-tray">
      <img [src]="icons.taskbar.WIN_LOGO">
      <img [src]="icons.taskbar.MS_STORE">
      <img [src]="icons.common.EDGE_BROWSER">
    </div>
  </div>
</div>
