.context-menu-container{
  position:absolute;
  top:50%;
  left:50%;
  display:flex;
  width:200px;
  background: #313131;
  border:1px solid #fff;
  color:#fff;
  ul.options{
    list-style: none;
    margin: 0;
    padding: 12px 12px 12px 25px;
    width: 100%;
    font-size: 11px;
    li{
      display: flex;
      height: 30px;
      align-items: center;
    }
    li.separator{
      height:1px;
      background-color:#fff;
    }
  }
}
